@import '../../styles/variables';

.root {
    width: 100%;
    display: grid;
    min-height: 60vh;
    place-items: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 5%;
    .wrapper {
        width: 90%;
        display: grid;
        place-items: center;
        .poly_right {
            position: absolute;
            top: -10%;
            right: 0;
            width: 25%;
        }
        .left_div {
            position: absolute;
            top: -10%;
            left: 0;
            width: 25%;
            .poly_left {
                width: 100%;
                position: relative;
            }
            .icon {
                position: absolute;
                top: 46.5%;
                left: 16.5%;
                z-index: 1000;
                background-color: $color-yellow;
                width: 24%;
                border-radius: 50%;
            }
        }
        .backTo {
            cursor: pointer;
            font-size: calc(#{$size}/1.2);
            transition: all .3s;
            background-color: $color-orange;
            border: none;
            border-radius: 5px;
            font-family: 'Fixel';
            color: $color-black;
            padding: 1%;
            margin-top: 3%;

            &:hover {
                background-color: $color-yellow;
            }
        }
        .header_block {
            display: grid;
            place-items: center;
            width: 60%;

            h3 {
                font-size: calc(#{$size}*2.2);
                margin-bottom: 2%;
                text-align: center;
            }
            p {
                margin: 0;
                font-size: calc(#{$size}/1.2);
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .root {
        padding-top: 10% !important;
    }
    .poly_right {
        top: 7% !important;
        width: 30% !important;
    }
    .left_div {
        top: 7% !important;
        width: 30% !important;
    }
    .parent {
        width: 35% !important;
        h3 {
            font-size: 15px !important;
        }
    }
}
@media screen and (max-width: 500px) {
    .root {
        padding-top: 15% !important;
    }
    .header_block {
        width: 65% !important;

        h3 {
            font-size: 21px !important;
        }
        p {
            text-align: center !important;
            font-size: 13px !important;
        }
    }
    .backTo {
        font-size: 13px !important;
        padding: 2% !important;
    }
}