@import "../../styles/variables";

.root {
  width: 100%;
  height: 85svh;
  display: grid;
  place-items: center;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid $color-black;
  margin-top: 8%;
  .wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .a {
      position: absolute;
      top: 5%;
      left: 0;
      display: grid;
      place-items: center;
      cursor: pointer;
      width: 8%;

      img {
        width: 100%;
      }
    }
    .top_clip {
      background-color: $color-main;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
      clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
      width: 50%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 1%;
      transition: all 0.4s !important;
      h3 {
        margin: 0;
        font-size: calc(#{$size}* 2);
        text-wrap: balance;
        width: min-content;
        text-align: center;
      }
    }
    .bottom_clip {
      background-color: $color-main;
      -webkit-clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
      clip-path: polygon(50% 0, 100% 30%, 100% 100%, 0 100%, 0 30%);
      width: 50%;
      height: auto;
      padding: 5% 1%;
      padding-bottom: 1%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      transition: all 0.4s !important;
      p {
        margin: 0;
        font-size: calc(#{$size}/ 1.3);
        text-align: center;
        text-wrap: balance;
        width: 90%;
      }
    }
    .button {
      width: 25%;
      color: $color-black;
      background-color: $color-orange;
      border-radius: 5px;
      border: none;
      transition: all 0.4s !important;
      font-size: calc(#{$size}/ 1.2);
      padding: 1.5% 0%;
      font-family: "Fixel";
      font-weight: 500;
      margin: 2% 0%;
      cursor: pointer;
      transition: all 0.3s;
      text-decoration: none;
      text-align: center;
      z-index: 999;

      &:hover {
        background-color: $color-yellow;
      }
    }
    .button_yellow {
      width: 25%;
      color: $color-black;
      background-color: $color-yellow;
      border-radius: 5px;
      border: none;
      font-size: calc(#{$size}/ 1.2);
      padding: 1.5% 0%;
      z-index: 999;
      font-family: "Fixel";
      font-weight: 500;
      margin: 2% 0%;
      cursor: pointer;
      transition: all 0.3s;
      text-decoration: none;
      text-align: center;

      &:hover {
        background-color: $color-orange;
      }
    }
    .button_blue {
      width: 25%;
      color: $color-black;
      background-color: $color-blue;
      z-index: 999;
      border-radius: 5px;
      border: none;
      font-size: calc(#{$size}/ 1.2);
      padding: 1.5% 0%;
      font-family: "Fixel";
      text-decoration: none;
      text-align: center;
      font-weight: 500;
      margin: 2% 0%;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: #007edf;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .top_clip {
    width: 50% !important;
    align-items: center !important;

    h3 {
      margin-bottom: 7% !important;
    }
  }
  .bottom_clip {
    width: 55% !important;
    p {
      width: 85% !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .root {
    background-image: none;
    height: 65svh !important;
    padding-top: 0% !important;
    .wrapper {
      .a {
        right: -2% !important;
        left: auto;
        width: 10%;
      }
    }
  }
  .top_clip {
    height: auto !important;
    width: 75% !important;
    clip-path: none !important;
    padding: 2% !important;
    border-radius: 8px;
    margin-top: 5%;
    h3 {
      font-size: 30px !important;
      margin: 0 !important;
    }
  }
  .button,
  .button_blue,
  .button_yellow {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 50% !important;
    font-size: 15px !important;
    padding: 2% 0% !important;
  }
  .bottom_clip {
    height: auto !important;
    width: 75% !important;
    clip-path: none !important;
    padding: 2% !important;
    border-radius: 8px;
    margin-bottom: 1% !important;

    p {
      font-size: 14px !important;
      max-width: 90% !important;
      width: 90% !important;
    }
  }
}
@media screen and (max-width: 750px) {
  .root {
    padding-top: 10% !important;
    margin-top: 0%;
    height: 75svh !important;
  }
  .button,
  .button_blue,
  .button_yellow {
    padding: 3% 0% !important;
    width: 60% !important;
  }
}

@media screen and (max-width: 600px) {
  .top_clip {
    height: auto !important;
    margin-top: 5%;
    width: 75% !important;
    clip-path: none !important;
    padding: 2% !important;
    border-radius: 8px;
    h3 {
      margin: 0 !important;
    }
  }
  .bottom_clip {
    width: 100% !important;
    clip-path: none !important;
    margin-bottom: 3%;
    padding: 2% !important;
    border-radius: 8px;

    p {
      font-size: 14px !important;
      max-width: 100% !important;
      margin: 0 !important;
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 550px) {
  .root {
    padding-top: 15% !important;
  }
}
