@import "./variables";
@import "./font.scss";

.App {
  overflow-x: hidden !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Fixel";
  background-image: url(../assets/background.png);
  background-color: $color-main;
  overflow-x: hidden !important;
}
.part {
  display: grid;
  place-items: center;
  width: 100%;
}
.show_overflow {
  opacity: 1 !important;
  pointer-events: auto !important;
  display: grid;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $color-yellow;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $color-main;
  z-index: 1001;
  .loader-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15%;
    transform: translate(-50%, -50%);
    img {
      width: 100%;

      animation: preloader-bounce 2s infinite ease-in-out;
    }
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}
.show_modal {
  opacity: 1 !important;
  z-index: 1001 !important;
}
.show_popup {
  opacity: 1 !important;
  z-index: 1001 !important;
}
.show_burger {
  transform: translateY(0%) !important;
}
.show_home {
  display: grid !important;
}

@media screen and (max-width: 500px) {
  .preloader {
    .loader-image {
      width: 25%;
    }
  }
}
