.root {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 5%;
    padding-bottom: 0%;
    .wrapper {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}
@media screen and (max-width: 1000px) {
    .wrapper {
        width: 100% !important;
        flex-direction: column !important;
    }
}
