@import "../../styles/variables";

.root {
  width: 100%;
  display: grid;
  place-items: center;
  margin: 5% 0%;

  .wrapper {
    width: 95%;
    display: grid;
    place-items: center;

    h3 {
      margin: 0;
      text-transform: uppercase;
      font-size: calc(#{$size}* 1.5);
      margin-bottom: 3%;
    }
    .mobile_block {
      display: grid;
      width: 100%;
      place-items: center;
      grid-template-columns: repeat(2, 1fr);

      .mobile_one_polygon {
        width: 100%;
        display: grid;
        place-items: center;

        .mobile_polygon_text {
          display: grid;
          width: 100%;
          place-items: center;
          img {
            width: 27%;
          }
          p {
            font-size: 15px;
            text-align: center;
            text-wrap: balance;
          }
        }
      }
    }
    .polygon_block {
      display: flex;
      align-items: center;
      justify-content: center;
      .two_polygon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0% -4%;

        img {
          margin: 0.5% 0%;
        }
      }
      .two_polygon_parent {
        position: relative;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          opacity: 0.6;
        }
      }
      .one_polygon {
        position: relative;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          opacity: 0.6;
        }
      }
      .polygon_text {
        display: grid;
        place-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
          width: 70%;
        }
        p {
          margin: 0;
          text-align: center;
          font-size: calc(#{$size}/ 1.35);
          text-wrap: balance;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
.one_polygon,
.two_polygon_parent {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 1000px) {
  .polygon_block {
    flex-wrap: wrap !important;
    .one_polygon,
    .two_polygon {
      width: 30% !important;
    }
  }
  .polygon_text {
    width: 60% !important;
    img {
      width: 55% !important;
    }
    p {
      width: 100% !important;
      font-size: calc(#{$size}/ 1.1) !important;
    }
  }
}
@media screen and (max-width: 860px) {
  .polygon_text {
    width: 62% !important;
    img {
      width: 40% !important;
    }
  }
}
@media screen and (max-width: 650px) {
  .root {
    padding: 10% 0% !important;
  }
  .wrapper {
    width: 100% !important;
  }
}
